<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Dana Collateral</title>
		<div th:insert="fragment::head"></div>
		<link rel="stylesheet" href="/css/danacollateral.css">
	</head>
<body>
	<div th:insert="fragment::navbar"></div>

	<div class="container-fluid">
		<div class="row">
			<div th:insert="fragment::sidebar"></div>

			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
				<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
					<h2>Dashboard <small>Control panel</small></h2>
					<div class="btn-toolbar mb-2 mb-md-0">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#">Home</a></li>
								<li class="breadcrumb-item active" aria-current="page">Dashboard</li>
							</ol>
						</nav>
						<!-- <div class="btn-group mr-2">
							<button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
						</div> -->
					</div>
				</div>
				
				<div id="content-body">
					<div class="accordion" id="accordionOne">
						<div class="card">
							<div class="card-header" id="headingOne">
								<div class="d-flex">
									<div class="p-2">
											Dana Collateral
									</div>
									<div class="ml-auto">
										<button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
											+
										</button>
									</div>
								</div>
							</div>
							
							<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionOne">
								<div id="card-body" class="card-body">
									<h3>Dana Collateral</h3>
									<div class="table-responsive">
										<table id="table" class="table table-bordered table-sm">
											<thead>
												<tr>
													<!-- <th><a href="/danacollateral/create" class="text-white">Tambah</a></th> -->
													<th><span class="pointer" onclick="add()">Tambah</span></th>
													<th>id</th>
													<th>businessdate</th>
													<th>code</th>
													<th>bank</th>
													<th>nominal</th>
													<th>tanggalpenempatan</th>
													<th>jatuhtempo</th>
													<th>sukubunga</th>
												</tr>
											</thead>
											<tbody id="tbody">
												<!-- Content -->
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>

		</div>
	</div>

	<div th:insert="fragment::script"></div>
	<script src="/js/danacollateral.js"></script>
</body>
</html>
