<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Report Jaminan</title>
    <div th:insert="fragment :: head"></div>
    <style>
        
    </style>
  </head>
<body>
    <div th:insert="fragment :: navbar"></div>
    

    <div class="container-fluid">
      <div class="row">
        <div th:insert="fragment :: sidebar"></div>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Dashboard</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
              </div>
            </div>
          </div>

          <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <div class="d-flex bd-highlight">
                        <div class="p-2 bd-highlight">
                            Report Jaminan
                        </div>
                        <div class="ml-auto bd-highlight">
                            <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                +
                            </button>
                        </div>
                    </div>
                </div>
            
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body" id="content">
                        <h5>test</h5>
                    </div>
                </div>
            </div>
          </div>
        </main>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Data Mahasiswa</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="form-edit-mahasiswa">
              <div class="form-group">
                  <label for="nim" class="col-form-label">NIM:</label>
                  <input type="text" class="form-control" id="nim">
              </div>
              <div class="form-group">
                  <label for="nama" class="col-form-label">NAMA:</label>
                  <input type="text" class="form-control" id="nama">
              </div>
              <div class="form-group">
                <label for="alamat" class="col-form-label">ALAMAT:</label>
                <input type="text" class="form-control" id="alamat">
              </div>
              <div class="form-group">
                <label for="jurusan" class="col-form-label">JURUSAN:</label>
                <input type="text" class="form-control" id="jurusan">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="Update(this.value)" id="btn-edit">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    
    <div th:insert="fragment :: script"></div>
    <script src="/js/reportjaminan.js"></script>

</body></html>