.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
}
.breadcrumb {
    background-color: #FFFFFF;
}
th {
    background-color: #969696;
    color: #FFFFFF;
}

th span,td span {
    cursor: pointer;
}