.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
}
.breadcrumb {
    background-color: #FFFFFF;
}
.table{
    font-family: tahoma, sans-serif;
    /* font-size: 12px; */
    /* width: 80%; */
    border: 4px solid #d3d3d3 !important;
    background-color: #F9F9F9;
}
thead th {
    font-size: 14px;
    padding: 5px !important;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    color: white;
    text-decoration: none !important;
    cursor: pointer;
}
table th{
    font-weight: 200;
    background-color: rgb(146, 146, 146);
    border-collapse: collapse;
    color: white;
}
th div {
    color: white;
    text-decoration: none !important;
    cursor: pointer;
}
th span:hover {
    color: #3c8dbc;
}
td span {
    color: #bc3f26;
    text-decoration: underline;
    cursor: pointer;
}

td span:hover {
    color: #fc3811;
}