<!DOCTYPE html >
<!-- <html lang="en"> -->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<body>
    <!-- header -->
    <div id="header" th:fragment="head">
        <!-- Custom styles for this template -->
        <!-- <link href="/css/dashboard.css" rel="stylesheet"> -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" type="image/png" sizes="16x16" href="plugins/images/favicon.png">
        <title>Home Page</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
        <!-- Bootstrap Core CSS -->
        <link href="/ample-admin/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <!-- Menu CSS -->
        <link href="/ample-admin/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css" rel="stylesheet">
        <!-- toast CSS -->
        <link href="/ample-admin/plugins/bower_components/toast-master/css/jquery.toast.css" rel="stylesheet">
        <!-- morris CSS -->
        <link href="/ample-admin/plugins/bower_components/morrisjs/morris.css" rel="stylesheet">
        <!-- chartist CSS -->
        <link href="/ample-admin/plugins/bower_components/chartist-js/dist/chartist.min.css" rel="stylesheet">
        <link href="/ample-admin/plugins/bower_components/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css" rel="stylesheet">
        <!-- animation CSS -->
        <link href="/ample-admin/css/animate.css" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="/ample-admin/css/style.css" rel="stylesheet">
        <!-- color CSS -->
        <link href="/ample-admin/css/colors/default.css" id="theme" rel="stylesheet">
    </div>

    <!-- navbar -->
    <div id="navbar" th:fragment="navbar">
        <nav class="navbar navbar-default navbar-static-top m-b-0">
            <div class="navbar-header">
                <div class="top-left-part" style="background-color: rgb(247, 247, 247);">
                    <!-- Logo -->
                    <!-- <a href="index.html"> -->
                    <img src="/ample-admin/plugins/images/kbi.jpeg" alt="home" class="light-logo" width="140px"/>
                    <!-- </a> -->
                </div>
                <!-- /Logo -->
                <ul class="nav navbar-top-links navbar-right pull-right">
                    <!-- <li>
                        <a class="profile-pic" href="#"> <img src="/ample-admin/plugins/images/users/varun.jpg" alt="user-img" width="36" class="img-circle"><b class="hidden-xs">Steave</b></a>
                    </li> -->
                    <li>
                        <a href="#">
                            <div sec:authorize="isAuthenticated()" class="text-white">
                                <b><span sec:authentication="name">Username</span></b>
                                &nbsp;
                                <i><span sec:authentication="principal.authorities" id="name">Roles</span></i>
                                &nbsp;
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-header -->
            <!-- /.navbar-top-links -->
            <!-- /.navbar-static-side -->
        </nav>
    </div>

    <!-- sidebar -->
    <div id="sidebar" th:fragment="sidebar">

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav slimscrollsidebar">
                <ul class="nav" id="side-menu">
                    <!-- <li style="padding: 70px 0 0;">
                        <a href="/" class="waves-effect" th:classappend="${#request.requestURI == '' ? 'active':''}"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>Dashboard</a>
                    </li> -->
                    <li style="padding: 70px 0 0;">
                        <a href="/logout" class="waves-effect"><i class="fa fa-sign-out fa-fw" aria-hidden="true"></i>Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- javascript -->
    <div id="script" th:fragment="script">
        <footer class="footer text-center"> Copyright © 2021 KBI Development. All rights reserved. </footer>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <!-- <script src="/ample-admin/plugins/bower_components/jquery/dist/jquery.min.js"></script> -->
        <!-- Bootstrap Core JavaScript -->
        <script src="/ample-admin/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- Menu Plugin JavaScript -->
        <script src="/ample-admin/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
        <!--slimscroll JavaScript -->
        <script src="/ample-admin/js/jquery.slimscroll.js"></script>
        <!--Wave Effects -->
        <script src="/ample-admin/js/waves.js"></script>
        <!--Counter js -->
        <script src="/ample-admin/plugins/bower_components/waypoints/lib/jquery.waypoints.js"></script>
        <script src="/ample-admin/plugins/bower_components/counterup/jquery.counterup.min.js"></script>
        <!-- chartist chart -->
        <script src="/ample-admin/plugins/bower_components/chartist-js/dist/chartist.min.js"></script>
        <script src="/ample-admin/plugins/bower_components/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js"></script>
        <!-- Sparkline chart JavaScript -->
        <script src="/ample-admin/plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js"></script>
        <!-- Custom Theme JavaScript -->
        <script src="/ample-admin/js/custom.min.js"></script>
        <script src="/ample-admin/js/dashboard1.js"></script>
        <script src="/ample-admin/plugins/bower_components/toast-master/js/jquery.toast.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script> -->

        <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

        <script>
            // var username = $('#name').text();
            // var id = 0;
            // if(username == '[admin]'){
            //     id = 1
            // } else if(username == '[user]'){
            //     id = 2
            // }

            var url = $(location).attr('href').split('/');
            // console.log(url[url.length - 1]);

            function GetMenuByRolename(rolename){
                $.ajax({
                    url: '/api/menubyrolename',
                    type: 'post',
                    data: rolename,
                    contentType: 'application/json',
                    success: function(data){
                        var list = "";
                        for (let index = 0; index < data.length; index++) {
                            list += `
                            <li>
                                <a href="${data[index].url}" class="waves-effect ${url[url.length - 1] == data[index].url ? 'active' : ''}"><i class="fa fa-table fa-fw" aria-hidden="true"></i>${data[index].menu_name}</a>
                            </li>
                            `
                        }
                        $('#side-menu').append(list);
                    }
                })
            }

            $(document).ready(function() {
                GetMenuByRolename($('#name').text());
            })
        </script>
    </div>

    

</body>
</html>