<!DOCTYPE html>
<html lang="en">
	<head>
		<title>New Role</title>
		<div th:insert="fragment::head"></div>
		<link rel="stylesheet" href="/css/tablestyles.css">
        <style>
            table {
                font-size: 14px !important;
            }
        </style>
	</head>
<body class="fix-header">
	<div th:insert="fragment::navbar"></div>
    <div th:insert="fragment::sidebar"></div>

    <div id="page-wrapper">
	<div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">New Role</h4>
            </div>
            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                <ol class="breadcrumb py-0">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">new role</li>
                </ol>
            </div>
            <!-- /.col-lg-12 -->
        </div>
		<div class="row">
			<div class="col-md-12">
                <div class="white-box">
                    <div id="content-body">
                        <div id="card-body" class="card-body">
                            <!-- <button class="btn btn-sm btn-secondary mb-2" onclick="FormTambah()">Tambah Role +</button> -->
                            <button class="btn btn-default" onclick="FormTambah()"style="margin-bottom: 10px;">Tambah role +</button>
                            <div class="table-responsive">
                                <table id="table" class="table table-bordered table-sm">
                                    <thead>
                                        <tr>
                                            <th>Role Name</th>
                                            <th>Akses Menu</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody">
                                        <!-- Content -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
            
		</div>
	</div>
    </div>

    <!-- modal add -->
    <div class="modal fade" id="daftarModal" tabindex="-1" role="dialog" aria-labelledby="daftarModalTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal"><span>&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Tambah Role</h4>
                </div>
                <div class="modal-body">
                    <form id="registerForm" onsubmit="event.preventDefault();">
                        <div class="form-group">
							<label for="rolename" class="col-form-label">Rolename:</label>
			
							<input type="hidden" id="role_check" value="-1">
							<div class="input-group">
								<input type="text" class="form-control" id="rolename" onchange="resetRoleCheck()" required>
								<span class="input-group-btn">
									<button type="button" class="btn btn-primary" onclick="roleCheck()">Check</button>
								</span>
							</div>
							<span id="alert_rolename" class="text-danger hide"></span>
							<span id="avail_rolename" class="text-success hide">Username Available</span>
						</div>
                        <div class="form-group">
                            <label for="aksesmenu" class="col-form-label">Akses Menu:</label>
                            <select id="aksesmenu" class="form-control selectpicker" multiple data-live-search="true" onchange="resetAlertAksesmenu()" required>
                            </select>
                            <span id="alert_aksesmenu" class="text-danger hide">akses menu tidak boleh kosong</span>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" onclick="Save(this.value)">Save changes</button>
                </div>
                    </form>
            </div>
        </div>
    </div>

    <!-- modal edit -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal"><span>&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Edit Role</h4>
                </div>
                <div class="modal-body">
                    <form id="editmenu" onsubmit="event.preventDefault();">
                        <div class="form-group">
                            <label for="rolename-edit" class="col-form-label">Role Name:</label>
                            <input type="text" class="form-control" id="rolename-edit" required>
                        </div>
                        <div class="form-group">
                            <label for="aksesmenu-edit" class="col-form-label">Akses Menu:</label>
                            <select id="aksesmenu-edit" class="form-control selectpicker" multiple data-live-search="true" required="true">
                            </select>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" onclick="Update(this.value)" id="edit-save-btn">Save changes</button>
                </div>
                    </form>
            </div>
        </div>
    </div>

    <!-- modal delete -->
    <div class="modal fade" id="hapusModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal"><span>&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Hapus Role</h4>
                </div>
                <div class="modal-body">
                    <p>Yakin ingin menghapus data?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                    <button type="button" class="btn btn-danger" id="delete-btn" onclick="Delete(this.value)">Hapus</button>
                </div>
            </div>
        </div>
    </div>

	<div th:insert="fragment::script"></div>
    <script src="/js/role.js"></script>
</body>
</html>
